html
  {
    background-image: url("https://moviehole.net/img/matrix-code-wallpaper-1.jpg")
  }

@font-face
  {
      font-family: 'matrixmedium', sans-serif, arial;
      src: url('matrix-webfont.woff2') format('woff2'),
           url('matrix-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

h2, h1
    {
      color: white;
      text-align: center;
    }


    .pulse h2:hover{
      animation: pulse 1s infinite;
      animation-timing-function: linear;

    }

    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.1);
      100% { transform: scale(1); }
      }
    }

#choice
  {
     display: block;
	   margin-left: auto;
	   margin-right: auto;
  }
