body
  {
    font: Tahoma;
    background-image: url("./bg.jpg");
    background-size: cover;
  }

.first
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("http://i.imgur.com/9VV5LB3.gif");
    width: 572px;
    height: 322px;
  }

.first:hover
  {
      width: 572px;
      height: 322px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("./github.jpg");
      background-repeat: no-repeat;
  }

.link
{
  display: flex;
  width: 572px;
  height: 322px;
  justify-content: center;
  align-items: center;
}

h1, h2
  {
    text-align: center;
  }
